.info-block{
	.info-inner{
		max-width: 1000px;
		margin:90px auto;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
	}
	.content-block{
		display: flex;
		max-width: 300px;
		font-family: "Roboto", sans-serif;
		&:nth-child(2){
			p{
				display: flex;
				flex-flow: row nowrap;
				justify-content: space-between;
			}
		}
		.symbol{
			color:$redColor;
			font-size: 1.5rem;

		}
		.info{
			padding:0 30px;
			p, a{
				line-height: 1.8;
			}
			h2{
				font-weight: 500;
				font-size: 1.2rem;
				margin-bottom: 5px;
			}
			a{
				text-decoration: none;
				color:#6b6a6a;
				font-weight: 300;
				transition: color .2s;
				&:hover{
					color:$redColor;
				}
			}
			.title{
				display: inline-block;
				margin-right: 25px;
			}
		}
	}
}